body {
    margin: 0 0;
    padding: 0 0;
    background: url('../img/planetas.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.login {
    height: 100vh;
    align-items: center;
}

.fundoroxo{
    background-color: rgb(192, 159, 216);
}