body {
    margin: 0 0;
    padding: 0 0;
    background: url('../img/breathtaking-4k-galaxy-wallpaper-a3qjl9atd2ku58vt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.login {
    height: 100vh;
    align-items: center;
}

.fundoroxo{
    background-color: rgb(194, 150, 235);
}